<script src="https://kit.fontawesome.com/fd355f87ce.js" crossorigin="anonymous"></script>

<div class="home_trait"></div>

<div id="myBtnContainer">
  <button class="btn active" style="background-color: #80136D" onclick="filterSelection('all')"> Tout</button>
  <% Observation::OBS_COLOR.keys.each do |level|  %>
      <button class="btn" style="background-color: <%=Observation::OBS_COLOR[level]%>;" onclick="filterSelection('<%=level.downcase %>')"><%=level%></button>
  <% end %>
</div>

<div class="container trigger_popup_fricc">
  <% @students.each do |s| %>
    <div class="filterDiv obs <%= obs.obs_color.downcase %>" style="border-left: 25px solid <%= Observation::OBS_COLOR[obs.obs_color.to_sym] %>;" data-link-id="<%= obs.id %>" data-note-content="<%= obs.note %>" data-note-date="<%= obs.display_date %>">
      <div class="text_info_obs">
        <p><%= "#{ obs.category }" %></p>
        <h6><%= obs.display_date %></h6>
      </div>
      <div class="note_card">
        <h6><%= obs.note %></h6>
      </div>
    </div>
  <%end%>
</div>
