<div class="body">
  <div class="image_color">
    <div class="hello" id="typed-strings">
      <small>“Un enfant, un professeur, un livre, un crayon peuvent changer le monde.” <br>
      Malala Yousafzai</small>
    </div>
  </div>
</div>
<h1>My students</h1>
<h2><%= current_user.email %></h2>
<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 display-4">Listing Students</h4>
  </div>
  <%= link_to 'Create Student', new_student_path %>
   <% if @students.present? %>
    <div class="row justify-content-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">First name</th>
            <th scope="col">Second name</th>
            <th scope="col" colspan="3">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |s| %>
            <tr>
              <td><%= s.first_name %></td>
              <td><%= s.last_name %></td>
              <td><%= link_to 'Show', student_path(s.id) %></td>
              <td><%= link_to 'Edit', edit_student_path(s.id) %></td>
               <td><%= link_to 'Delete',
              student_path(s.id),
              method: :delete,
              data: { confirm: 'Are you sure to delete ?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="p-3 mb-2 bg-light text-dark">
      <span class="text-info font-weight-bold">Welcome! </span>
      Add your student
    </div>
  <% end %>
</div>

<% console %>
