<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">Show details of student <%= @student.first_name %></h4>
  </div>
  <div class="row justify-content-center">
    <table class="table">
      <tbody>
        <tr>
          <th>First name:</th>
          <td><%= @student.first_name %></td>
          <a href="<%= student_path(@student.id) %>">
        </tr>
        <tr>
          <th>Last name:</th>
          <td><%= @student.last_name %></td>
        </tr>
      </tbody>
    </table>
  </div>
   <td><%= link_to 'Back to my list', students_path %></td>
</div>

<div class="list_students">
  <div class="container">
    <%current_user.students.order(:last_name).each do |student|%>
      <div class="home_card">
        <%pins = false%>
        <%current_user.observations.each do |observation|%>
          <%if observation.student_id == student.id%>
            <%pins = true%>
          <%end%>
        <%end%>
        <div class="row align-items-center">
          <div class="col-4 justify-content-center" class="imgs_student" class="d-flex align-items-center">
            <a href="<%= student_path(student.id) %>">
            <%if pins == true %>
            <% else %>
              <div class="col-4-float-left" class="imgs_student" class="d-flex align-items-center">
              <a href="<%= student_path(student.id) %>">
              </div>
            <% end %>
          </div>
          <div class="student_name" class="col-4 justify-content-center" class="d-flex align-items-center"><a href="<%= student_path(student.id) %>"><p id="home_forme_student">
            <%=student.first_name%><br><%=student.last_name.upcase!%></p>
          </div>
          <div class="col-4 justify-content-center" class="d-flex align-items-center"><a href="<%= new_observation_path(student) %>">
            <img class="plusadd" src="https://res.cloudinary.com/dowgjinna/image/upload/v1641802443/noteadd2_gdqhf3.png"></a>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
